@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font: 14px "Poppins";
  color: #282828;
  font-weight: 600;
}

h2 {
  font: 20px "Lora", serif;
}

h1 {
  font: 30px "Lora";
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}

p {
  font: 14px "Poppins";
  text-align: justify;
  line-height: 44px;
  color: #282828;
}

/*Menu*/
header {
  background-color: #c4cfb8;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-container {
  width: 100%;
  max-width: 75%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
  transform: scale(1);
  transition: scale 0.5s ease;
}

.logo img:hover {
  scale: 1.05; /*ajusta o tamanho da logo quando o mouse passa sobre o link*/
}

.logo a:active {
  transform: scale(
    1.05
  ); /*aumenta o tamanho da logo quando o link está sendo clicado*/
}

nav {
  justify-content: right;
  margin-top: 48px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

/* Definindo escala para transição hover */
nav a, .trabalhe-link {
  position: relative;
  text-decoration: none;
  transform: scale(1);
  transition: scale 0.5s ease;
}

nav a:hover, .trabalhe-link:hover {
  scale: 1.05;
}

/* Linha animada no menu */
.hover-effect {
  display: inline-block;
  position: relative;
}

.hover-effect::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #282828;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.5s ease;
}

.hover-effect:hover::after {
  transform: translateX(-50%) scaleX(1);
}
/* Fim Menu*/

/* Banner */
.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-slider img {
  width: 100%;
}

.banner-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.banner-slider .slide.show {
  z-index: 1;
  opacity: 1;
  position: relative;
}

.banner-slider ul {
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  z-index: 2;
}

.banner-slider ul li {
  list-style-type: none;
}

.banner-slider .circulo {
  color: #bcb8b2;
  font-size: 1rem;
}

.banner-slider .circulo.active {
  color: #ffff;
}
/* Fim Banner */

/* Introdução*/
.frase {
  background-color: #c4cfb8;
  position: relative;
  padding: 60px;
  margin-top: -4px;
}

.frase::before,
.frase::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 90%;
  height: 0.5px;
  background: #282828;
}

.frase::before {
  left: 10%;
}

.frase::after {
  right: 10%;
}

.frase h2 {
  position: relative;
  background-color: #c4cfb8;
  width: 550px;
  margin: auto;
  text-align: center;
  z-index: 1;
}
/* Fim Introdução*/

/* Section Móveis Planejados*/
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.conteudo p {
  margin: 30px 0;
}

.conteudo-esquerda {
  margin-left: 25%;
  width: 530px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.imagem-direita {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Fim Móveis Planejados*/

/* Botão orçamento*/
.btn-orcamento {
  height: 44px;
  width: 300px;
  background-color: #6b705c;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.btn-orcamento span {
  color: #ffff;
  font: 16px "Poppins";
  font-weight: 650;
  letter-spacing: 0.8px;
  transform: scale(1);
  transition: scale 0.5s ease;
  display: inline-block;
}

.btn-orcamento:hover {
  background-color: #889561;
}

.btn-orcamento:hover span {
  scale: 1.05;
}
/* Fim botão orçamento*/

/* Section Projeto de Interiores*/
.projeto-interiores {
  background-color: #c4cfb8;
  height: 788.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projeto-interiores-container {
  width: 75%;
  margin: 80px 0 60px 0;
}

.projeto-interiores-carousel {
  width: 75%;
  height: 410px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.projeto-interiores-carousel-imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.projeto-interiores-carousel-imgs img {
  height: 410px;
}

.img-wrapper {
  display: inline-block;
  position: relative;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  color: #ffffff;
  background: #00000090;
  padding: 10px 10px;
  border-radius: 3px 0px 3px;
  font-weight: bold;
  top: 0px;
  left: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
}

.img-wrapper.projeto::after {
  content: "Projeto";
}

.img-wrapper.execucao::after {
  content: "Execução";
}

.projeto-interiores-carousel-btns {
  width: 82%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 52.5%;
}

.projeto-interiores-carousel-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.projeto-interiores-carousel-circle-navigation ul {
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

.projeto-interiores-carousel-circle-navigation ul li {
  list-style-type: none;
}

.projeto-interiores-carousel-circle-navigation .circulo {
  color: #28282880;
  font-size: 1rem;
}

.projeto-interiores-carousel-circle-navigation .circulo.active {
  color: #282828;
}

.carrossel-container {
  overflow: hidden;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
/* Fim Projeto de Interiores*/

/* Section Assessoria em Obras */
.conteudo-direita {
  width: 530px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-right: 25%;
  margin-left: auto;
}

.imagem-esquerda {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Fim Assessoria em Obras */

/* Section Diferenciais */
#diferenciais {
  background-color: #c4cfb8;
  padding: 60px 0px;
}

.cards {
  width: 100%;
  max-width: 75%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 10px;  
  text-align: center;
  align-content: center;
  padding: 30px;
}

.card:hover {
  /* Sombra aparece só ao interagir */
  box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
/* Fim Diferenciais */

/* Contato*/
#contato p{
  margin: 0 0 20px 0;
}

#contato h1{
  margin-bottom: 30px;
}
/* Fim Contato*/

/* Formulário */
.formulario {
  width: 650px ;
  margin: 100px 25% 100px auto;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.formulario input, .formulario textarea, .formulario select {
  margin: 2px 0 30px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input::placeholder, textarea::placeholder, select{
  color: #3c3c3c;
}

.formulario textarea {
  resize: vertical;
}

.formulario button {
  background-color: #6B6E55;
  height: 44px;
  width: 650px;
  color: white;
  font: 16px "Poppins";
  font-weight: 650;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.formulario button:hover{
  background-color: #889561;
}

/* Fim Formulário */

/* Rodapé*/
footer{
  background-color: #c4cfb8;
  height: 270px;
  justify-items: center;
}

.footer-container{
  width: 100%;
  max-width: 75%;
  display: flex;
  margin: auto;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.logo-cnpj{
 justify-items: center;
}

/*Contatos*/
.footer-contatos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-contatos a, .footer-enderecos span{
  font: 14px "Poppins";
  text-align: justify;
  color: #282828;
  text-decoration: none;
  line-height: 30px;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 2px 0;
}

.contato-item img, .footer-enderecos img{
  width: 26px;
  height: 26px;
}

/*Endereços*/
.footer-enderecos {
  display: flex;
  width: 300px;
  gap: 16px;
}

#endereco{
  display: flex;
  flex-direction: column;
}

#endereco a{
  margin-top: 20px;
}

/*Créditos*/
#footer-credits p {
  margin-top: 20px;
  font-size: 12px;  
  color: #5B5959;
}

/*Fim rodapé*/







