@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font: 0.875rem "Poppins";
  color: #282828;
  font-weight: 600;
}

h2 {
  font: 1.25rem "Lora", serif;
}

h1 {
  font: 1.875rem "Lora";
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}

p {
  font: 0.875rem "Poppins";
  text-align: justify;
  line-height: 2.75rem;
  color: #282828;
}

/* Menu */
header {
  background-color: #c4cfb8;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-container {
  width: 100%;
  max-width: 75%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 100px;
  transform: scale(1);
  transition: scale 0.5s ease;
}

.logo img:hover {
  scale: 1.05; /* Aumenta a logo no hover */
}

.logo a:active {
  transform: scale(1.05); /* Aumenta a logo ao clicar */
}

nav {
  justify-content: flex-end;
  margin-top: 48px;
  margin-left: 6rem;
  position: absolute;
  right: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

/* Links com efeito de escala e linha */
nav a, .trabalhe-link, .h1-link {
  position: relative;
  text-decoration: none;
  transform: scale(1);
  transition: scale 0.5s ease;
}

/* Efeito hover para links normais (sem dropdown) */
nav ul li:not(.dropdown) a.hover-effect:hover, .trabalhe-link:hover {
  scale: 1.05;
}

nav ul li:not(.dropdown) a.hover-effect:hover::after, span.hover-effect:hover::after{
  transform: translateX(-50%) scaleX(1);
}

/* Efeito mantido para dropdown quando o mouse está no submenu */
.dropdown:hover .hover-effect {
  scale: 1.05;
}

.dropdown:hover .hover-effect::after {
  transform: translateX(-50%) scaleX(1);
}

/* Estilo do dropdown */
.dropdown {
  position: relative;
}

.opcao-dropdown a {
  position: relative;
  margin-left: 5px;
  font-size: 12px;
  bottom: 3px;
}

.opcao-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1.5s ease;
  position: absolute;
  border-radius: 3px;
  background-color: #abb896;
  border-top: none;
  border-right: none;
  margin-top: 3.5px;
  height: 35px;
  padding: 10px 0 0 0;
  margin-left: -4px;
  /* mantenha seu width conforme já tem */
}

.menu-drop-moveis{
  width: 152px;
}

.menu-drop-moveis.opcao-dropdown{
  width: 160px;
}

.menu-drop-projetos{
  width: 168px;
}

.menu-drop-projetos.opcao-dropdown{
  width: 176px;
}

.menu-drop-sobre{
  width: 88px;
}

.menu-drop-sobre.opcao-dropdown{
  width: 94px;
}

/* Mostra o dropdown ao passar o mouse */
.dropdown:hover .opcao-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Efeito da linha animada */
.hover-effect {
  display: inline-block;
  position: relative;
}

.hover-effect::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #282828;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.5s ease;
}
/* Fim Menu */


/* ----- Index ------*/

/* Banner */
.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-slider img {
  width: 100%;
}

.banner-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.banner-slider .slide.show {
  z-index: 1;
  opacity: 1;
  position: relative;
}

.banner-slider ul {
  display: flex;
  width: 6.25rem;
  height: 1.875rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0.9375rem;
  bottom: 0.9375rem;
  cursor: pointer;
  z-index: 2;
}

.banner-slider ul li {
  list-style-type: none;
  background-color: transparent;
}

.banner-slider .circulo {
  color: #bcb8b2;
  font-size: 1rem;
}

.banner-slider .circulo.active {
  color: #ffff;
}
/* Fim Banner */

/* Introdução*/
.frase {
  background-color: #c4cfb8;
  position: relative;
  padding: 3.75rem;
  margin-top: -0.25rem;
}

.frase::before,
.frase::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 90%;
  height: 0.5px;
  background: #282828;
}

.frase::before {
  left: 10%;
}

.frase::after {
  right: 10%;
}

.frase h2 {
  position: relative;
  background-color: #c4cfb8;
  width: 550px;
  margin: auto;
  text-align: center;
  z-index: 1;
}
/* Fim Introdução*/

/* Section Móveis Planejados*/
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo p {
  margin: 1.875rem 0;
}

.conteudo-esquerda {
  margin-left: 25%;
  margin-right: 6rem;
  max-width: 33.125rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.imagem-direita {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
/* Fim Móveis Planejados*/

/* Botão orçamento*/
.btn-orcamento {
  height: 2.75rem;
  width: 18.75rem;
  background-color: #6b705c;
  border-radius: 0.625rem;
  align-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.btn-orcamento span {
  color: #ffff;
  font: 1rem "Poppins";
  font-weight: 650;
  letter-spacing: 0.0.5rem;
  transform: scale(1);
  transition: scale 0.5s ease;
  display: inline-block;
}

.btn-orcamento:hover {
  background-color: #889561;
}

.btn-orcamento:hover span {
  scale: 1.05;
}
/* Fim botão orçamento*/

/* Section Projeto de Interiores*/
.projeto-interiores {
  background-color: #c4cfb8;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.container-combotao{
  width: 100%;
  justify-items: center;
  position: relative;
}

.projeto-interiores-container,
#depoimentos-container {
  width: 75%;
  margin: 5rem 0 3.75rem 0;

}

.projeto-interiores-carousel {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.projeto-interiores-carousel-imgs {
  width: 100%;
  display: none;
  opacity: 0;
  justify-content: space-between;
  }

.projeto-interiores-carousel-imgs.projeto-ativo{
  display: flex;
  opacity: 1;
}

.projeto-interiores-carousel-imgs img {
  max-width: 100%;
  height: auto;
}

.img-wrapper {
  display: inline-block;
  position: relative;
}

.img-wrapper.projeto {
  margin-right: 1.5vw;
}

.img-wrapper.execucao {
  margin-left: 1.5vw;
}


.img-wrapper::after {
  content: "";
  position: absolute;
  color: #ffffff;
  background: #00000090;
  padding: 0.625rem 0.625rem;
  border-radius: 3px 0px 3px;
  top: 0px;
  left: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 600;
}

.img-wrapper.projeto::after {
  content: "Projeto";
}

.img-wrapper.execucao::after {
  content: "Execução";
}

.carousel-btns {
  width: 82%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-circle-navigation ul {
  display: flex;
  width: 6.25rem;
  height: 1.875rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 2.5rem;
}

.carousel-circle-navigation ul li {
  list-style-type: none;
}

.circulo-projeto, .circulo-moveis {
  color: #28282880;
  font-size: 1rem;
}

.circulo-projeto.active, .circulo-moveis.active {
  color: #282828;
}

/* Fim Projeto de Interiores*/

/* Section Assessoria em Obras */
.conteudo-direita {
  margin-right: 25%;
  margin-left: 6rem;
  max-width: 33.125rem;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
  align-self: center;
}

.imagem-esquerda {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
/* Fim Assessoria em Obras */

/* Section Diferenciais */
#diferenciais {
  background-color: #c4cfb8;
  padding: 3.75rem 0px;
}

.cards {
  width: 100%;
  max-width: 75%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  padding: 1.875rem;
}

.card:hover {
  /* Sombra aparece só ao interagir */
  box-shadow: 0.625rem 0.625rem 1.5rem rgba(0, 0, 0, 0.3);
}

.card img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1.25rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5625rem;
  text-align: center;
}
/* Fim Diferenciais */

/* ----- Fim Index ------*/

/* Contato*/

#contato{
  height: auto;
  padding: 5rem 0;
}

#contato p {
  margin: 0 0 1.25rem 0;
}

#contato h1 {
  margin-bottom: 1.875rem;
}
/* Fim Contato*/

/* Formulário */

.formulario {
  width: 75%;
  max-width: 36.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 25%;
}


.formulario input,
.formulario textarea,
.formulario select {
  margin: 2px 0 1.875rem 0;
  padding: 0.625rem;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

input::placeholder,
textarea::placeholder,
select {
  color: #3c3c3c;
}

.formulario textarea {
  resize: vertical;
}

.formulario button {
  background-color: #6b6e55;
  height: 2.75rem;
  width: 100%;
  color: white;
  font: 1rem "Poppins";
  font-weight: 650;
  letter-spacing: 0.0.5rem;
  border: none;
  border-radius: 0.625rem;
  align-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #889561;
}

/* Fim Formulário */

/* Rodapé*/
footer {
  background-color: #c4cfb8;
  height: 16.875rem;
  justify-items: center;
}

.footer-container {
  width: 100%;
  max-width: 75%;
  display: flex;
  margin: auto;
  padding-top: 3.125rem;
  justify-content: space-between;
  align-items: center;
}

.logo-cnpj {
  justify-items: center;
}

/*Contatos*/
.footer-contatos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-contatos a,
.footer-enderecos span {
  font: 0.875rem "Poppins";
  text-align: justify;
  color: #282828;
  text-decoration: none;
  line-height: 1.875rem;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2px 0;
}

.contato-item img,
.footer-enderecos img {
  width: 1.625rem;
  height: 1.625rem;
}

/*Endereços*/
.footer-enderecos {
  display: flex;
  width: 18.75rem;
  gap: 1rem;
}

#endereco {
  display: flex;
  flex-direction: column;
}

#endereco a {
  margin-top: 1.25rem;
}

/*Créditos*/
#footer-credits p {
  margin-top: 1.25rem;
  font-size: 0.75rem;
  color: #5b5959;
}

/*Fim rodapé*/

/* ----- Página Móveis Planejados ------*/
/*Banner*/
.banner-container {
  position: relative;
  width: 100%;
}

.banner-container img {
  width: 100%;
}

.banner-container::after,
.portfolio-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  height: 99.5%;
  transition: opacity 0.5s ease;
}

.banner-container::before {
  content: "MÓVEIS \APLANEJADOS";
  white-space: pre-line;
  color: white;
  font-family: Lora, serif;
  font-size: 3.75rem;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  margin-left: 12.5%;
  transform: translateY(-50%);
  z-index: 2;
  text-shadow: #000 0.25rem 0.25rem 6px;
}

.frase.paginas {
  margin-top: -3px;
}
/*Fim Banner*/

/*Seção Qualidade*/
#qualidade h1,
#incluso h1,
#porque h1 {
  margin-bottom: 1.875rem;
}

.conteudo-esquerda li,
.conteudo-direita li {
  font: 0.875rem "Poppins";
  text-align: justify;
  line-height: 1.5625rem;
  color: #282828;
  margin: 0.9375rem 0;
  list-style-position: inside;
}

.verde {
  background-color: #c4cfb8;
}
/*Fim Qualidade*/

/* Slide Trabalhos realizados */
#trabalhos-realizados {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
}

#trabalhos-realizados h1 {
  margin-bottom: 4.375rem;
  margin-top: 4.375rem;
}

.trabalhos-realizados-carousel,
.depoimentos-carousel {
  display: flex;
  width: 75%;
  flex-direction: column;  
  justify-content: center;
  align-items: center;

}

.trabalhos-realizados-carousel-imgs {
  width: 100%;
  display: none;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;

}

.trabalhos-realizados-carousel-imgs.realizados-ativo {
  opacity: 1;
  display: flex;
}

#navegacao-trabalhos ul {
  width: 15.625rem;
}

#navegacao-trabalhos li{
  background-color: white;
}

.trabalhos-realizados-carousel-imgs img {
  max-width: 100%;
}

.slide-moveis-esquerda, .slide-moveis-meio, .slide-moveis-direita{
  width: 25.375rem;
  height: auto;
}

.slide-moveis-esquerda{
  margin-right: 30px;
}

.slide-moveis-direita{
  margin-left: 30px;
}


/* Fim Trabalhos realizados */
/* ----- Fim Página Móveis Planejados ------*/

/* ----- Página Projetos ------*/

/* Banner*/
.banner-container.container-projetos::before {
  content: "PROJETO DE \AINTERIORES";
  white-space: pre-line;
}
/* Fim Banner*/

/*Imagens Etapas*/
#etapas-img {
  display: flex;
  overflow: hidden;
  position: relative;
}

.imagem-esquerda.img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.imagem-esquerda.show {
  opacity: 1;
  z-index: 1;
}
/* Fim Imagens Etapas*/

/* Accordion Etapas*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #c4cfb8;
  color: #282828;
  cursor: pointer;
  height: 3rem;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 0.8px solid #282828;
  transition: 0.4s;
  margin-top: 1.25rem;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #c4cfb8;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #c4cfb8;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-180 -1000 960 960' fill='%231f1f1f'><path d='M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg); /* seta para cima */
  transition: transform 0.3s ease;
  float: right;
  margin-left: 0.3125rem;
}

.accordion.active:after {
  transform: rotate(90deg); /* seta para baixo */
}

.accordion.active:first-of-type {
  cursor: default; /* cursor normal, sem a mãozinha */
}
/* Fim Accordion Etapas*/

/* Section Portfólio*/
#portfolio h1 {
  text-align: center;
  margin: 5rem 0 65px 0;
}

#portfolio-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 colunas */
  gap: 1.5rem;
  padding: 0 1rem;
  justify-items: center;
}

.portfolio-card{
  width: 100%;
  aspect-ratio: 16/9; /* mantém proporção responsiva */
  max-width: 37.375rem; /* limite para telas grandes */
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}


.portfolio-card::before {
  content: "";
  white-space: pre-line;
  color: white;
  font-family: Lora, serif;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  text-shadow: #000 0.25rem 0.25rem 6px;
  transition: transform 0.5s ease;
}

.portfolio-card.cozinha::before {
  content: "COZINHA";
}
.portfolio-card.quarto::before {
  content: "QUARTO";
}
.portfolio-card.closet::before {
  content: "CLOSET";
}
.portfolio-card.sala::before {
  content: "SALA";
}
.portfolio-card.banheiro::before {
  content: "BANHEIRO";
}
.portfolio-card.escritorio::before {
  content: "ESCRITÓRIO";
}
.portfolio-card.lazer::before {
  content: "LAZER";
}
.portfolio-card.corporativo::before {
  content: "CORPORATIVO";
}
.portfolio-card.comercial::before {
  content: "COMERCIAL";
}

.portfolio-card:hover::before {
  transform: translate(-50%, -50%) scale(1.1);
}

.portfolio-card:hover::after {
  opacity: 0.75;
}

/* Overlay */
  #overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right:0; bottom: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #overlay.active {
    display: flex;
  }
  #slide-image {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.25rem #000;
  }
  /* Navegação */
  .nav-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    background: rgba(0,0,0,0.4);
    border: none;
    cursor: pointer;
    padding: 0.625rem 0.9375rem;
    user-select: none;
  }
  #prev-btn {
    left: 1.25rem;
  }
  #next-btn {
    right: 1.25rem;
  }
  #close-btn {
    position: fixed;
    top: 1.25rem; right: 1.25rem;
    font-size: 1.875rem;
    color: white;
    background: rgba(0,0,0,0.4);
    border: none;
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
  }

/* Fim Portfólio*/
/* ----- Fim Página Projetos ------*/

/* ----- Página Assessoria ------*/

/*Banner*/
.banner-container.container-obras::before {
  content: "ASSESSORIA \A EM OBRAS";
  white-space: pre-line;
}

.frase-assessoria h2 {
  width: 51.25rem;
  padding: 0 1.25rem;
}
/*Fim Banner*/

/*Frase e Botão*/
.frase-botao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frase-botao h2 {
  width: auto;
  position: relative;
  bottom: 1.5625rem;
  padding-top: 1.875rem;
}

#botao-container {
  width: 28.125rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4cfb8;
  position: relative;
  bottom: 0.625rem;
  z-index: 4;
}

.frase-botao::before,
.frase-botao::after {
  content: "";
  position: absolute;
  top: 58%;
  width: 90%;
  height: 0.0.3125rem;
  background: #282828;
}
/* Fim Frase e Botão*/

/* ----- Fim Página Assessoria ------*/

/*Página Sobre Nós*/

#videoApresentacao{
  max-height: 90vh;
}

/*Seção Apresentação*/
.conteudo-apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding-bottom: 6rem;
}

.img-apresentacao-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  align-items: center;
  justify-content: center;
}

.img-apresentacao-container.marcio {
  padding: 5rem 3.75rem 3.75rem 0;
}

.img-apresentacao {
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
}

.conteudo-direita.apresentacao h1,
.conteudo-esquerda.apresentacao h1 {
  margin-bottom: 1.875rem;
}

.legenda {
  font: 0.875rem "Poppins";
  text-align: justify;
  line-height: 0.625rem;
  font-weight: 500;
  color: #282828;
}
/* Fim Seção Apresentação*/

/* Seção Depoimentos*/
#depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  padding-bottom: 4rem;
}

.card-depoimentos {
  width: 18.75rem;
  height: auto;
  background-color: white;
  padding-bottom: 1rem;
}

.card-esquerda{
  margin-right: 30px;
}

.card-direita{
  margin-left: 30px;
}

.depoimentos-carousel {
  height: auto;
  width: 75%;
}

.depoimentos-carousel-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.card-depoimentos img {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
}

.card-depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 1.875rem;
  border-radius: 0.625rem;
}

.card-depoimentos p {
  margin-top: 1.25rem;
  line-height: 1.5625rem;
}

#navegacao-depoimentos{
  margin-bottom: 1.25rem;
}


/* Fim Depoimentos*/

/*Mapa*/
iframe {
  width: 100%;
  height: 50vh;
  border: 0;
  margin-bottom: -0.25rem;
}
/*Mapa*/

/*Fim Página Sobre Nós*/

/*Página Trabalhe Conosco*/
#formulario-trabalhe{
  height: auto;
  padding: 6rem 0;
}

.conteudo-esquerda.trabalhe{
  align-self: self-start;
  margin-top: 102px;
}

.conteudo-esquerda.trabalhe p{
  margin: 0.625rem 0;
}

.conteudo-esquerda.trabalhe h1{
  margin-bottom: 1.875rem;
}

/* Estilo atualizado para campo de anexar currículo */
.file-input-wrapper {
  margin-top: 2px;
  padding: 0.625rem;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;  
  position: relative;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.file-placeholder {
  color: #3c3c3c
}

.upload-icon {
  width: 1.5625rem;
  position: absolute;
  right: 0.75rem;
}

.error-message {
  color: red;
  font-size: 0.75rem;
}

#formatos-aceitos{
  font-size: 0.75rem;
}

#mensagens-alerta{
  display: flex;
  justify-content: space-between;
  margin-top: 0.3125rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  margin-top: 2.5rem;
}

#cancelar-trabalhe{
  background-color: #DDA15E;
}

#cancelar-trabalhe:hover{
  background-color: #e98b1f ;
}

/* Fim Página Trabalhe Conosco*/
